AppKit  
attr  
ConfigParser  
contextlib2  
cryptography  
docutils  
filelock  
HTMLParser  
importlib_metadata  
importlib_metadata  
ipython  
ipywidgets  
Jinja2  
jnius  
keyring  
mock  
Pillow  
protobuf  
pyOpenSSL  
PyYAML  
PyYAML  
railroad  
redis  
Sphinx  
thread  
tornado  
urllib3_secure_extra  
xmlrpclib  